@charset "utf-8";
/* CSS Document */
body{
	background:#333;
}
#contenedor{
	width:1000px;
	height:650px;
	border:10px solid #C30;
	margin:0 auto;
	background:url(../imagenes/fondo1.jpg) no-repeat;
	position:relative;
	overflow:hidden;
}
#libro{
	width:301px;
	height:517px;
	background:url(../imagenes/libro.png) no-repeat;
	position:absolute;
	top:55px;
	left:102px;
}
#origami_verde{
	width:216px;
	height:193px;
	background:url(../imagenes/origami_verde.jpg) no-repeat;
	position:absolute;
	top:135px;
	left:388px;
	animation:animarorigami_verde 5s infinite;
	-moz-animation:animarorigami_verde 5s infinite;
	-o-animation:animarorigami_verde 5s infinite;
	-webkit-animation:animarorigami_verde 5s infinite;
}
#origamiazul{
	width:164px;
	height:154px;
	background:url(../imagenes/origami-azul.png) no-repeat;
	position:absolute;
	top:307px;
	left:401px;
	animation:animarorigamiazul 10s infinite;
	-moz-animation:animarorigamiazul 10s infinite;
	-o-animation:animarorigamiazul 10s infinite;
	-webkit-animation:animarorigamiazul 10s infinite;
}
#origamifucsia{
	width:144px;
	height:128px;
	background:url(../imagenes/origami-fuscia.png) no-repeat;
	position:absolute;
	top:25px;
	left:824px;
	animation:animarorigamifucsia 20s infinite;
	-moz-animation:animarorigamifucsia 20s infinite;
	-o-animation:animarorigamifucsia 20s infinite;
	-webkit-animation:animarorigamifucsia 20s infinite;
	z-index:100

}


/*--- Animaciones ---*/
@keyframes animarorigami_verde{
	from{left:159px;top:135px;}
	to{left:1010px;top:-139px;}
}
@-moz-keyframes animarorigami_verde{
	from{left:159px;top:135px;}
	to{left:1010px;top:-139px;}
}
@-o-keyframes animarorigami_verde{
	from{left:159px;top:135px;}
	to{left:1010px;top:-139px;}
}
@-webkit-keyframes animarorigami_verde{
	from{left:159px;top:135px;}
	to{left:1010px;top:-139px;}
}

@keyframes animarorigamiazul{
	from{left:167px;top:307px;}
	to{left:1010px;top:130px;}
}

@-moz-keyframes animarorigamiazul{
	from{left:167px;top:307px;}
	to{left:1010px;top:130px;}
}
@-o-keyframes animarorigamiazul{
	from{left:167px;top:307px;}
	to{left:1010px;top:130px;}
}
@-webkit-keyframes animarorigamiazul{
	from{left:167px;top:307px;}
	to{left:1010px;top:130px;}
}	

@keyframes animarorigamifucsia{
	0%{left:-153px;top:660px;}
	50%{left:856px;top:95px;}
	75%{left:377px;top:95px;}
	100&{left:1010px;top:-128;}
}

@-moz-keyframes animarorigamifucsia{
	0%{left:-153px;top:660px;}
	50%{left:856px;top:95px;}
	75%{left:377px;top:95px;}
	100&{left:1010px;top:-128;}
}
@-o-keyframes animarorigamifucsia{
	0%{left:-153px;top:660px;}
	50%{left:856px;top:95px;}
	75%{left:377px;top:95px;}
	100&{left:1010px;top:-128;}
}
@-webkit-keyframes animarorigamifucsia{
	0%{left:-153px;top:660px;}
	50%{left:856px;top:95px;}
	75%{left:377px;top:95px;}
	100%{left:1010px;top:-128;}
}